{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} - © MDev Systems</title>
    <meta name="description"
          content="Página de Admin da MDev Systems"/>

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="{% static 'css/orange.css' %}" id="theme-color">
    {% block head %}{% endblock head %}
</head>
<body>

    {% block body %}{% endblock body %}

    <footer class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 mr-auto">
                    <h5>Sobre a © MDev Systems</h5>
                    <p class="text-muted">A <b>MDev Systems</b> é um projeto pessoal meu, Luciano Mendes, ou MDev, LuhDev, afiliado com a <b>© Works'Manager</b>, uma futura START-UP. Nosso foco é criar conteúdos de programação e automação virtual de forma gratuita!! Mas você pode nos judar nos seguindo nas redes sociais ou deixando Feedbacks com o MDev BOT.</p>
                    <ul class="list-inline social social-sm">
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Contatos</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{url_github}}">GitHub</a></li>
                        <li><a href="{{url_instagram}}">Instagram Works Manager</a></li>
                        <li><a href="#">works.manager8421@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Conteúdo</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{url_youtube}}">YouTube MDev</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Ajuda</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{url_group_whatsapp}}">Support Bot</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-muted text-center small-xl">
                    &copy; 2024 © MDev Systems - Todos os Direitos reservados.
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    
</body>
</html>