{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Página Principal{% endblock title %}

{% block body %}
    <!--navigation-->
    <section class="smart-scroll">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand heading-black" href="{% url 'index' %}">
                    © MDev Systems
                </a>
                <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span data-feather="grid"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#mdevbot">MDev-Bot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#youtube">Youtube</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#questions">Perguntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll d-flex flex-row align-items-center text-primary" href="{% url 'login' %}">
                                <em data-feather="layout" width="18" height="18" class="mr-2"></em>
                                Fazer Login
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!--hero header-->
    <section class="py-7 py-md-0 bg-hero" id="home">
        <div class="container">
            <div class="row vh-md-100">
                <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                    <h1 class="heading-black text-capitalize">Seja Bem-vindo!!</h1>
                    <p class="lead py-3">Para fazer Login como administrador imediatamente,<br>clique no botão abaixo para ser redirecionado ao formulário.</p>
                    <button id="btnLogin" class="btn btn-primary d-inline-flex flex-row align-items-center">
                        Fazer Login Agora
                        <em class="ml-2" data-feather="arrow-right"></em>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <script>
        const bttnLogin = document.getElementById('btnLogin');

        bttnLogin.addEventListener('click', () => {
            location.href = "{% url 'login' %}";
        })
    </script>
    <!-- features section -->
    <section class="pt-6 pb-7" id="mdevbot">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">O que é o MDev Bot?</h2>
                    <p class="text-muted lead">É um bot de WhtasApp programado para execução de comandos a partir de mensagens com o foco em:</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row feature-boxes">
                        <div class="col-md-6 box">
                            <div class="icon-box box-primary">
                                <div class="icon-box-inner">
                                    <span data-feather="edit-3" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Gerenciamento de Chats</h5>
                            <p class="text-muted">Crie, responda e edite chats privados e grupos de WhtasApp de forma automatizada com o controle do MDev BOT</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-success">
                                <div class="icon-box-inner">
                                    <span data-feather="monitor" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Programação</h5>
                            <p class="text-muted">Tentamos deixar o manuseio do script simples para você que não programa. Mas se você programa, criamos métodos de facéis compriensão para você.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-danger">
                                <div class="icon-box-inner">
                                    <span data-feather="layout" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Estrutura de Gurpos Animados</h5>
                            <p class="text-muted">A intenção é sempre melhorar, estamos trabalhando (e você pode fazer parte) para a criação de novos e divertidos comandos para animar o grupo.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-info">
                                <div class="icon-box-inner">
                                    <span data-feather="globe" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Aumento de Engajamento do Grupos</h5>
                            <p class="text-muted">Você vai se divertir com o mine-game do MDev bot que está em desenvolvimento!! Uso de ferramentas, moedas, ranks e muito mais no Game!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="py-7" id="youtube">
        <div class="container">
            <div class="row mt-6">
                <div class="col-md-6 mr-auto">
                    <h2>Programação de Graça?</h2>
                    <p class="mb-5">Cansado de ver vários códigos, scripts do Bot e liguangem de programação e ainda sim não saber o que realmente está acontecendo ali ou de você já saber programar um pouco, mas não ter nenhum projeto <b>TOP</b> para pôr em prática seus conhecimentos?? Não prometo que você vai aprender, mas clique abaixo e se inscreva no nosso canal do YouTube!!</p>
                    <a href="{{url_youtube}}" class="btn btn-light">
                        Inscrever-se no Canal
                    </a>
                </div>
                <div class="col-md-5">
                    <div class="slick-about">
                        <img src="img/blog-1.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 1"/>
                        <img src="img/blog-2.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 2"/>
                        <img src="img/blog-3.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 3"/>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--faq section-->
    <section class="py-7" id="questions">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2>Algumas Perguntas</h2>
                    <p class="text-muted lead">Você pode fazer perguntas no <a href="{{url_youtube}}">Youtube</a>.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h6>Qual a linguagem de programação do MDev-Bot?</h6>
                            <p class="text-muted">Para aconexão do script com o WhtasApp atulizamos <a href="#">NodeJs</a>. Ele é responsável por gerenciar a intermace do WhtasApp e envios de mensagens através de uma API. Para o controle de banco de dados usamos Python.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>O script do bot é gratuito?</h6>
                            <p class="text-muted">Sim e não. O código do bot está disponível gratuitamente, mas por está em desenvolvimento ele permanece criptografado. Mas não fique triste!! O código do bot é ensinado no nosso canal do <a href="{{url_youtube}}">YouTube</a></p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>Pode fazer um comando X?</h6>
                            <p class="text-muted">Claro!! vá no último video ou shorts no canal do <a href="{{url_youtube}}">YouTube</a> e dê a sugestão.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>O bot vai continuar sendo atualizado?</h6>
                            <p class="text-muted">Isso depende muito de vocês na aréa do engajamento do projeto e sugestões de comandos.</p>
                        </div> 
                        <div class="col-md-6 mb-5">
                            <h6>Como faço para mudar o prefixo do bot?</h6>
                            <p class="text-muted">Se você tá lendo isso, já é meio caminho andado. Faça Login nessa página com seu usuário de administrador para encontrar essa opção.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>Como criar um usuário admin na plataforma?</h6>
                            <p class="text-muted">Há um video no canal do <a href="{{url_youtube}}">YouTube</a> ensinando. Tenha o Python instalado. localize no terminal a pasta em que está o servidor do bot, use os comados respectivamente: "python manage.py makemigrations", "python manage.py migrate" "python manage.py createsuperuser".  Após o último comando insira os dados pedidos para o novo admin: usuario, email e senha.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mx-auto text-center">
                    <h5 class="mb-4">você têm alguma pergunta?</h5>
                    <a href="{{url_youtube}}" class="btn btn-primary">Fazer Pergunta</a>
                </div>
            </div>
        </div> 
    </section>

    <!--scroll to top-->
    <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- theme switcher (FOR DEMO ONLY - REMOVE FROM PRODUCTION)-->
    <div class="switcher-wrap">
        <div class="switcher-trigger">
            <span class="fa fa-gear"></span>
        </div>
        <div class="color-switcher">
            <h6>Paleta de Cores</h6>
            <ul class="mt-3 clearfix">
                <li class="bg-teal active" data-color="default" title="Default Teal"></li>
                <li class="bg-purple" data-color="purple" title="Purple"></li>
                <li class="bg-blue" data-color="blue" title="Blue"></li>
                <li class="bg-red" data-color="red" title="Red"></li>
                <li class="bg-green" data-color="green" title="Green"></li>
                <li class="bg-indigo" data-color="indigo" title="Indigo"></li>
                <li class="bg-orange" data-color="orange" title="Orange"></li>
                <li class="bg-cyan" data-color="cyan" title="Cyan"></li>
                <li class="bg-yellow" data-color="yellow" title="Yellow"></li>
                <li class="bg-pink" data-color="pink" title="Pink"></li>
            </ul>
            <p>Escolha sua paleta de <b>cores </b> e se divirta selecionando-a.</p>
        </div>
    </div>
{% endblock body %}